:root {
  /* Palette */
  --white-color: #fff;
  --black-color: #000;
  --micasa-600: #05113e;
  --micasa-500: #0d1841;
  --micasa-400: #132158;
  --micasa-300: #20378b;
  --micasa-200: #30418f;
  --micasa-100: #5c69a7;
  --button-default: #4350c1;
  --button-danger: #B11B1B;
  --button-normal: #1B52B1;

  /* App Theme / Brand */
}
